<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Помилка</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="messages/failed.css">
</head>
<body>
<div class="error-box">
    <div class="crossmark">
        <i class="bi bi-x-circle"></i> <!-- Хрестик з Bootstrap -->
    </div>
    <div class="message">
        <span th:text="${messageError}">Сталася помилка!</span>
    </div>
</div>

<div class="hint">Press any button to exit</div>

<script>
    document.addEventListener("keydown", () => {
        window.location.href = "/dashboard";
    });

    document.addEventListener("click", () => {
        window.location.href = "/dashboard";
    });
</script>
</body>
</html>
