body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #e6d4f6, #fbd5d5);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0; /* Прибираємо відступи */
    overflow: hidden; /* Забираємо прокрутку */
}

.form-container {
    background: #fff;
    padding: 30px 30px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 520px;
    position: relative;
    max-height: 90vh; /* Обмежуємо висоту, щоб не виходила за екран */
    overflow-y: auto; /* Дозволяємо прокручувати тільки якщо контент не вміщається */
    box-sizing: border-box; /* Додаємо для врахування padding у висоту */
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 22px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    font-size: 14px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
}

.form-group input:focus {
    border-color: #00796b;
    outline: none;
}

.form-group button {
    width: 100%;
    padding: 15px 30px;
    background-color: #fff; /* Білий фон для кнопок */
    color: #333;
    border: 1px solid #ccc; /* Легкий ободок для кнопок */
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group button:hover {
    background-color: #f1f1f1; /* Легке затемнення при наведенні */
    border-color: #00796b; /* Зміна кольору бордеру при наведенні */
}

.category-button {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    font-size: 15px;
    border: 1px solid #ccc; /* Бордер для кнопок */
    border-radius: 8px;
    background-color: #fff; /* Білий фон для кнопок */
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-button:hover {
    background-color: #f1f1f1; /* Легке затемнення при наведенні */
    border-color: #00796b; /* Зміна кольору бордеру при наведенні */
}

.category-button i {
    margin-right: 10px; /* Відступ між іконкою і текстом */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.close-button:hover {
    color: #e74c3c;
}