<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Зміна імені</title>
    <link rel="stylesheet" href="settings/settingStyle.css">
</head>
<body>
<div class="form-box">
    <a class="close" href="/dashboard">&times;</a>
    <h2>Зміна імені</h2>
    <form action="/updateName" method="post">
        <input type="text" name="newName" placeholder="Нове ім’я" required>
        <input type="password" name="password" placeholder="Пароль для підтвердження" required>
        <button type="submit">Зберегти</button>
    </form>
</div>
</body>
</html>