<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Зміна паролю</title>
    <link rel="stylesheet" href="/settingStyle.css">
</head>
<body>
<div class="form-box">
    <a class="close" href="/dashboard">&times;</a>
    <h2>Зміна паролю</h2>
    <form id="passwordForm" action="/updatePassword" method="post">
        <input type="password" id="newPassword" name="newPassword" placeholder="Новий пароль" required>
        <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="Повторіть новий пароль" required>
        <div class="error-message" id="passwordError" style="display: none;">Паролі не співпадають</div>
        <input type="password" id="password" name="password" placeholder="Поточний пароль" required>
        <button type="submit">Зберегти</button>
    </form>
</div>

<script>
    document.getElementById("passwordForm").addEventListener("submit", function(event) {
        const newPassword = document.getElementById("newPassword").value;
        const confirmNewPassword = document.getElementById("confirmNewPassword").value;
        const errorMessage = document.getElementById("passwordError");

        if (newPassword !== confirmNewPassword) {
            event.preventDefault();
            errorMessage.style.display = "block";
        } else {
            errorMessage.style.display = "none";
        }
    });
</script>
</body>
</html>
